// Fonts
$primary-font: 'Montserrat', sans-serif;
// Colors
$white: #E8F0EC;
$black: #000;
$input-border: #BCE1F6;
$bg-input: #87C9EC;
$bg-header: #275973;
$bg-footer: rgba(93, 153, 185, 0.5);
$bg-gradient: linear-gradient(90deg, #12FFF7 0%, #28E17E 100%);

// Breakpoints

$break-point-desktop: 1140px;
$break-point-desktop-small: 956px;
$break-point-tablet: 768px;
$break-point-phone: 600px;
