@import '../../index.scss';

.header {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  &::after {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    background: no-repeat 67% 32%/67px url('../../assets/fly-1.png'),
    no-repeat 3% 25%/149px url('../../assets/fly-2.png'),
    no-repeat 39% 11%/79px url('../../assets/fly-3.png'),
    no-repeat 55% 84%/96px url('../../assets/fly-4.png'),
    no-repeat 79.5% 5%/51px url('../../assets/fly-5.png'),
    no-repeat 9% 96%/76px url('../../assets/fly-6.png'),
    no-repeat 86% 100%/63px url('../../assets/fly-7.png');
    z-index: -1;
  }
  @media (max-width: $break-point-desktop-small) {
    &::after {
      background: no-repeat 90% 25%/67px url('../../assets/fly-1.png'),
      no-repeat 3% 15%/149px url('../../assets/fly-2.png'),
      no-repeat 39% 11%/79px url('../../assets/fly-3.png'),
      no-repeat 90% 84%/96px url('../../assets/fly-4.png'),
      no-repeat 70% 5%/51px url('../../assets/fly-5.png'),
      no-repeat 90% 100%/63px url('../../assets/fly-7.png');
    }
  }
  @media (max-width: $break-point-phone) {
    height: 700px;
    &::after {
      background: no-repeat 89% 28.5%/62px url('../../assets/fly-1.png'),
      no-repeat 27% 73%/75px url('../../assets/fly-3.png'),
      no-repeat 23% 2.5%/50px url('../../assets/fly-5.png'),
      no-repeat 50% 90%/77px url('../../assets/fly-6.png');
    }
  }
}
